In [1]:
import pandas as pd

In [2]:
# Replace 'your_dataset.csv' with the path to your dataset
file_path = "C:/Users/ATAISH NEHRA/Downloads/DS5500 Raw datasets/Land cover accounts world only data.csv"

In [3]:
# Load the dataset
data = pd.read_csv(file_path)

In [4]:
# Print the column names
print(data.columns.tolist())

['Column1', 'Country', 'ISO2', 'ISO3', 'Indicator', 'Unit', 'Source', 'CTS_Code', 'CTS_Name', 'CTS_Full_Descriptor', 'Climate_Influence', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']

In [5]:
# List of columns to keep
columns_to_keep = ['Indicator', 'Climate_Influence', 
                   '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', 
                   '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', 
                   '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', 
                   '2016', '2017', '2018', '2019', '2020']

In [6]:
# Filter the DataFrame to keep only the specified columns
data_filtered = data[columns_to_keep]

# data_filtered now contains only the columns specified

In [7]:
data_filtered

,Indicator,Climate_Influence,1992,1993,1994,1995,1996,1997,1998,1999,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Climate Altering Land Cover Index,Climate altering,9.653648e+01,9.679988e+01,9.660545e+01,9.713551e+01,9.728953e+01,9.752710e+01,9.781829e+01,9.850464e+01,...,9.989466e+01,9.985695e+01,9.991792e+01,9.995473e+01,100.000,9.990634e+01,1.000186e+02,1.001073e+02,1.001201e+02,1.001685e+02
1,Total Land Cover,Climate altering,1.808245e+06,1.832532e+06,1.828851e+06,1.838886e+06,1.841802e+06,1.846299e+06,1.851811e+06,1.864804e+06,...,1.893073e+06,1.928202e+06,1.929378e+06,1.930089e+06,1930963.717,1.929145e+06,1.931313e+06,1.933026e+06,1.933275e+06,1.934307e+06
2,Total Land Cover,Climate neutral,2.729688e+06,2.743915e+06,2.743967e+06,2.743684e+06,2.744038e+06,2.742812e+06,2.742079e+06,2.737876e+06,...,2.709973e+06,2.813778e+06,2.813004e+06,2.810733e+06,2811057.560,2.810282e+06,2.809065e+06,2.801821e+06,2.799621e+06,2.797061e+06
3,Total Land Cover,Climate regulating,8.445620e+06,8.545686e+06,8.549314e+06,8.539562e+06,8.536293e+06,8.533020e+06,8.528240e+06,8.519448e+06,...,8.532638e+06,8.642510e+06,8.642104e+06,8.643665e+06,8642467.413,8.644991e+06,8.644038e+06,8.649572e+06,8.651542e+06,8.653735e+06

In [8]:
# Melt the DataFrame to long format
long_format = data_filtered.melt(id_vars=['Indicator', 'Climate_Influence'], 
                                 var_name='Year', 
                                 value_name='Value')

In [9]:
# Pivot to get the desired structure
pivoted_data = long_format.pivot_table(index='Year', 
                                       columns=['Indicator', 'Climate_Influence'], 
                                       values='Value')

In [10]:
# Resetting the index to get 'Year' as a column
pivoted_data.reset_index(inplace=True)

In [13]:
pivoted_data

,Year,Climate Altering Land Cover Index Climate altering,Total Land Cover Climate altering,Total Land Cover Climate neutral,Total Land Cover Climate regulating
0,1992,96.536478,1808245.202,2729687.536,8445619.870
1,1993,96.799882,1832532.150,2743915.486,8545685.689
2,1994,96.605453,1828851.182,2743966.907,8549313.812
3,1995,97.135507,1838885.767,2743684.204,8539562.264
4,1996,97.289526,1841801.526,2744037.955,8536292.879
5,1997,97.527101,1846298.867,2742811.552,8533020.285
6,1998,97.818292,1851811.272,2742078.521,8528239.649
7,1999,98.504636,1864804.484,2737876.459,8519448.217
8,2000,99.012226,1874888.924,2731933.979,8518632.772
9,2001,99.175383,1877978.782,2730319.882,8517159.347
10,2002,99.336617,1881031.241,2728206.140,8516216.009
11,2003,99.478560,1883719.919,2727321.376,8514418.107
12,2004,99.862700,1890993.319,2720141.143,8514320.439
13,2005,99.758721,1889024.781,2718873.495,8517559.341
14,2006,99.816484,1891591.437,2717868.631,8526225.524
15,2007,99.782074,1890939.656,2715598.286,8529149.759
16,2008,99.865770,1892525.401,2714067.538,8529092.324
17,2009,99.877914,1892756.391,2712255.464,8530679.306
18,2010,99.872127,1892646.164,2711022.186,8532018.929
19,2011,99.894656,1893072.634,2709973.126,8532638.328
20,2012,99.856953,1928201.609,2813778.008,8642509.589
21,2013,99.917915,1929378.273,2813003.939,8642103.578
22,2014,99.954728,1930089.402,2810733.464,8643664.945
23,2015,100.000000,1930963.717,2811057.560,8642467.413
24,2016,99.906341,1929145.080,2810282.206,8644991.264
25,2017,100.018644,1931313.228,2809064.584,8644038.157
26,2018,100.107309,1933025.656,2801821.167,8649571.541
27,2019,100.120086,1933275.267,2799621.417,8651541.637
28,2020,100.168538,1934306.881,2797060.922,8653735.065

In [12]:
pivoted_data.columns = [' '.join(col).strip() for col in pivoted_data.columns.values]

In [15]:
# Specify the file path and name for your new CSV file
output_file_path = "C:/Users/ATAISH NEHRA/Downloads/Cleaned Datasets/Land Cover Accounts_cleaned.csv"

# Save the DataFrame to a CSV file
pivoted_data.to_csv(output_file_path, index=False)

# 'index=False' ensures that the DataFrame's index (in this case, the 'Year') is not written as a separate column